/* Hero Section */

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.shop-now {
  background: #ff6f61;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.shop-now:hover,
button:hover {
  background: #b22222;
}
.hero-section {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.hero-section {
  background-image: url("./images/banner.png");
}
